/* creem menu*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

 body {
  font-family: "Montserrat", sans-serif;
} 
.navMenu {
  margin: 0;
  position: absolute;
  justify-content: space-between;
  padding: 10px 0;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  padding: 40px;
  /* width: 120px; */
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  transform: translate(220px, -30px);
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  transform: translate(60px, -40px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  transform: translate(220px, -40px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  transform: translate(390px, -40px);
  transition: all 0.2s ease-in-out;
  opacity: 1;
}


 .jittery{
    font:400 100px/1em Amatic SC;
    text-align:top;
    padding-top:1px;
    animation:jitter 200ms linear infinite;
    color:#f06d06;
    display:inline-block
}
@keyframes jitter{ 50%{transform:skewY(0.7deg) skewX(-0.7deg) scale(1.006);} } 
