*{
    font-family:'Gill Sans', monospace;
}
body{ /*configuració background*/
    height: 100vh; /*vh i vw fan que el background s'ajusti al tamany de la pantalla en % */
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: rgb(196, 195, 195);
}

#GameBoard { /*configuració taulell de joc*/
    height: 90vmin; /*vmin fa que quan modifiquem el tamany de la finestra, s'ajusti a qualsevol llargada o amplada de finestra per veure sempre el taulell sencer(quadrat)*/
    width: 90vmin;
    display: grid;
    grid-template-columns: repeat(20, 1fr); /*creant 20 columnes mateixa mida*/
    grid-template-rows: repeat(20, 1fr); /*creant 20 files mateixa mida*/
    background: linear-gradient(rgb(54, 192, 54), green);
    border: .50vmin solid rgb(255, 252, 252);
}
/*#start, .boardInfo{
    font-size: 25;
}

 .boardInfo{
    display: flex;
    justify-content: space-between;
    margin-top: 10px; 
}*/

.snakeHead{
    background-image: url("../images/cabeza.png");
}
.snakeBody{
    /*background-image: url("../images/cuerpo.png");*/
    background-color: aqua;
    border: .25vmin solid black; ;
}
.apple{
    background-image: url("../images/manzana.png");
}